<%- include('../partials/head') %> <%- include('../partials/header') %>

<main class="container">
	<form action="/add" method="post">
		<div class="mb-3">
			<label for="exampleFormControlInput1" class="form-label">Name</label>
			<input
				type="text"
				name="name"
				class="form-control"
				id="exampleFormControlInput1"
				placeholder="Name"
				minlength="5"
			/>
		</div>
		<div class="mb-3">
			<label for="exampleFormControlTextarea1" class="form-label">Content</label>
			<textarea
				class="form-control"
				name="content"
				id="exampleFormControlTextarea1"
				rows="7"
				minlength="5"
			></textarea>
		</div>
		<div class="mb-3 text-center">
			<button type="submit" class="btn btn-success">Save</button>
		</div>
	</form>
</main>

<%- include('../partials/footer') %>
